    .esports-info {
        max-width: 300px;
        max-height: 300px;
        display: inline-block;
        border: 2px solid black; 
        overflow: scroll;

    }

    .esports-info-img {
        
        max-width: 300px;
        height: 300px;
       
    }

    .dota-tournament-img {
        float: left;
        height: 30vh;
        width: 30vw;
        margin-left: 500px;
    }
    