.esports-info {
  display: inline-block;
}

div.sec1 {
  background-color: rgb(162, 241, 142);
  width: 700px;
  height: 180px;
  overflow: scroll;
}

div.sec2 {
  background-color: rgb(162, 241, 142);
  width: 700px;
  height: 180px;
  overflow: scroll;
  border-color: deeppink; 
}

div.sec3 {
  background-color: rgb(162, 241, 142);
  width: 700px;
  height: 180px;
  overflow: scroll;
}

.container {
  flex: row;
  flex-basis: 33.33%;
}

/*side-by-side using float */
#leftbox { 
  float:left;  
  background-color: rgb(162, 241, 142); 
  width:33%; 
  height:218.312px; 
  overflow: scroll;
} 
#dota-tournament-img{   
  float:left;  
  width:34%; 
  height:auto;  
} 
#rightbox{ 
  float:right; 
  background-color: rgb(248, 193, 202); 
  width:33%; 
  height:218.312; 
  overflow: scroll;
} 
