@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Lato&display=swap');

body{
  font-family: 'Lato', sans-serif;
  font-size:1.1rem;
}

h2, h1{
  font-family: 'Baloo Chettan 2', cursive;
}

.esports-info {
  display: inline-block;
  border: 1px solid #000;
  width: 32VW;
  scroll-behavior: auto;
  height: 450px;
  overflow: auto;
  margin-bottom: 2vh;
}
.esports-info p,h2{
  color: blueviolet;
  margin: 10px;
}

.esports-tournaments p::first-letter {
  font-weight: bold;
  color: blueviolet;
}

.esports-info-img{
  width: 100%;
  height: 250PX;
}


.dota-tournament-img {
  width: 31vw;
  float: left;
  margin-bottom: 20px;
}

.esports-tournaments{
  padding-right: 20px;
  margin-bottom: 20px;
}

.esports-tournaments img{
  border: 3px solid black;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
}



/* css mobile */
@media screen and (max-width: 1100px) {

  .esports-info {
    border: 1px solid #000;
    display: inline-block;
    width: 30VW;
    scroll-behavior: auto;
    height: 450px;
    overflow: auto;
    margin-bottom: 2vh;
  }
}

@media screen and (min-width:441px) and (max-width: 1099px){

  .esports-info {
    border: 1px solid #000;
    display: inline-block;
    width: 30VW;
    scroll-behavior: auto;
    height: 450px;
    overflow: auto;
    margin-bottom: 2vh;
  }

}


@media screen and (max-width: 440px) {

  .esports-info {
    border: 1px solid #000;
    display: inline;
    width: 100%;
    background-color: chartreuse;
    scroll-behavior: auto;
    margin-bottom:2vh;
    }

    .dota-tournament-img {
      width:100%;
      margin-bottom: 20px;
    }

    .dota-tournament-img {
      width: 50vw;
      float: left;
      margin: 0;
    }
  }

  