.esports-info {
    display: inline-block;
    width: 30vw;
    height: 500px;
    border: 1px solid red;
    overflow: auto;
  
  }
  .esports-info-img {
    display: inline-block;
    width: 100%;

   
  }
  .dota-tournament-img {
    width: 20%;
    float: left;
  }
  
  