* {
  box-sizing: border-box;
}

.esports-info {
  display: inline-block;
  width: 33%;
  height: 40vh;
  overflow: scroll;
  margin: auto;
  border: solid darkgray 5px;
}

.esports-info>img {
  object-fit: contain;
  width: 100%;
}

.esports-tournaments *{
  display: inline-block;
}

/* not sure what we need float for */

.esports-tournaments img {
  width: 33%;
  float: left;
}

.esports-tournaments article {
  width: 66%;
  float: right;
}