.esports-info {
  display: inline-block;
  height: 50vh;
  width: 15vw;
  overflow: scroll;
  border: solid 1px;
}
.esports-info p{
  padding: 4px;
}

img.esports-info-img {
  width: 100%;
 }

img.dota-tournament-img {
  width: 40vw;
  float: left;
  padding-right: 20px;
}
